<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.push.redditing">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".RedditingApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.main.MainActivity"
                android:label="@string/title_activity_main"
                android:launchMode="singleInstance"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="callback.app"
                        android:scheme="redditing"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="net.dean.jraw.android.REDDIT_USERNAME"
                android:value="redditing"/>
        <meta-data
                android:name="net.dean.jraw.android.CLIENT_ID"
                android:value="yTwKQ-JMs0mgIQ"/>
        <meta-data
                android:name="net.dean.jraw.android.REDIRECT_URL"
                android:value="redditing://callback.app"/>

        <activity
                android:name=".ui.SubmissionDetail.SubmissionActivity"
                android:label="@string/title_activity_submission"
                android:parentActivityName=".ui.main.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.push.redditing.ui.main.MainActivity"/>
        </activity>
        <activity android:name=".ui.Post.PostActivity"
          android:parentActivityName=".ui.main.MainActivity"
          android:launchMode="standard">
        </activity>
    </application>

</manifest>